pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.calva
.lsp
*.csv
*.arrow
*.arrows
*.log
*.parquet
*.nippy
decompiled*
dec*
.clj-kondo/.cache
# Large benchmark data files (>100MB - GitHub limit)
*.npy
